{% extends 'main/base.html' %}
{% load static %}



{% block main_page_content %}
    <div class="main__pagename _container">
                    <h1 class="main__pagename-title">Особливості навчального процесу</h1>
                </div>
                <div class="main__info-block info-block">
                    <div class="info-block__page_content page_content _container">

                        <div class="page_content__article article">
                            <article class="article">
                                <h2 class="article__title">
                                    Мова освітнього процесу
                                </h2>

                                <p class="article__text">
                                    <img src="{% static 'main/images/main/osob_navch_proc/info-block/article/mova.jpg' %}" alt="cat" class="article__image">
                                    Відповідно до законів України "Про освіту" (ст. 7), "Про повну загальну середню освіту" (ст. 5), "Про забезпечення функціонування української мови як державної" (ст. 21) мовою освітнього процесу в закладі освіти є державна мова. Кожен, хто здобуває в закладі освіти повну загальну середню освіту, вивчає державну мову відповідно до державних стандартів.
                                    Особи, які належать до національних меншин України, здобувають початкову освіту мовою національної меншини (російською) поряд з державною.
                                </p>
                            </article>
                            <article class="article">
                                <h2 class="article__title">
                                    Заходи запобігання поширенню коронавіруса, проявів хвороби та дій у випадку захворювання
                                </h2>
                                <p class="article__text">
                                    <img src="{% static 'main/images/main/osob_navch_proc/info-block/article/Uvaga.jpg' %}" alt="cat" class="article__image">
                                    Пам'ятка для співробітників ЗЗСО № 167
                                    У зв'язку із значним поширенням гострої респіраторної хвороби СОУГО-19, спричиненої коронавірусом 8АК8-СоУ-2 :
                                    1. Всім співробітникам необхідно дотримуватися вимог протиепідемічних заходів у закладі освіти та биту.
                                    2. Неухильно виконувати рекомендації, які надані у постанови Головного державного санітарного лікаря України від 22.08.2020 № 50 «Про затвердження протиепідемічних заходів у закладах освіти на період карантину в зв'язку поширенням коронавірусної хвороби (СОУГО-19)», Листі Міністерства освіти і науки від 05.08.2020 № 1/9-420 «Щодо організації роботи закладів загальної середньої освіти у 2020/2021 навчальному році».
                                    З ОБОВЯЗКОВИМ є носіння масок у закладі освіти ( під час уроків, на перервах). Захисний щиток не замінює маску.
                                    4. Всім мати запасні маски із разрухуванням часу перебування у закладі (2-3 маски на робочий день).
                                    5. Дотримуватись правил зняття та утилізації використаних масок, ретельного миття рук, як це рекомендує МОЗ України.
                                    6. У разі виявлення підвищеної температури тіла понад 37,2 °С або ознаками гострого респіраторного захворювання, такий співробітник не допускається до роботи з рекомендаціями звернутись за медичною допомогою до сімейного лікаря.
                                    7. При появі підвищеної температури тіла понад 37,2 °С або ознак гострого респіраторного захворювання вдома співробітник повідомляє свого безпосереднього керівника та не виходить на роботу.
                                    8. Обов’язкове своєчасне звертання за медичною допомогою до сімейного лікаря або, у разі погіршення стану здоров’я викликає невідкладну допомогу за телефонами 103,112.
                                    9. Лікар приймає рішення щодо самоізоляції чи госпіталізації хворого.
                                    10. Якщо температура, кашель, нежить у працівника школи з'явилися під час роботи, він має невідкладно залишити заклад освіти і звернутися до закладу охорони здоров'я за медичною допомогою; якщо ж у нього виникли такі небезпечні симптоми, як задишка, частий сухий кашель, біль у грудній клітці, температура, яку складно знизити, виражена блідість чи синюшність шкіри, повторне блювання, необхідно викликати екстрену допомогу, попередивши медиків, що є підозра на СОУГО-19.
                                    11. У приміщенні, де знаходився хворий вчитель/працівник, проводиться позачергове провітрювання та дезінфекція усіх висококонтактних поверхонь.
                                    12. Епідеміолог приймає рішення щодо роботи закладу освіти або окремих навчальних груп та класів
                                </p>
                            </article>
                        </div>

                    </div>
                </div>
{% endblock main_page_content %}

