{% extends 'main/base.html' %}
{% load static %}


{% block main_page_content %}
    <div class="main__pagename _container">
                    <h1 class="main__pagename-title">Особливості прийому в школу</h1>
                </div>
                <div class="main__info-block info-block">
                    <div class="info-block__page_content page_content _container">

                        <img src="{% static 'main/images/main/maintenanse.png' %}" alt="maintenanse" style="width: 100%; padding: 30vh 0;">


                    </div>
                </div>
{% endblock main_page_content %}
